Package: com.minazuki.noiconbadge
Name: NoIconBadge
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Turn off the notification badge on the home screen.
Depiction: https://minazukidev.github.io/html/NoIconBadge/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
